{% extends "base.html" %}
{% block content %}
<div class="page-header" style="margin-left: 50px">
    <h2>Statistic</h2>
</div>

<div class="container">

	<div class="row">
	    <div class="col-sm-1">
			<img class="img-circle" style="width:200px; height:200px" src = "{{picture}}">
    	</div>
    	<div class="col-sm-4" style="margin-top: 70px ; margin-left: 150px">
	      	<h2> {{nama}} </h2>
	    </div>
	</div>

	<div class="row" style="margin-top: 50px">
		<div class="col-sm-2">
			<h3><b>Friends</b></h3>
		</div>

		<div class="col-sm-5">
			<h3>{{jumlah_teman}} People</h3>
		</div>


		<div class="col-sm-2">
			<h3><b>Feed</b></h3>
		</div>


		<div class="col-sm-2">
			<h3>{{jumlah_status}} Post</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-2">
			<h3>Latest Post</h3>
		</div>
	</div>

	{% if status_terakhir %}
		<div class="panel panel-default">
	        <div class="panel-heading">
	            <img class="img-rounded" width=32px height=32px src="{{status_terakhir.user.picture_url}}" />
	            <b>{{status_terakhir.user.name}}</b>
	        </div>
	        <div class="panel-body">
	        	{{status_terakhir.message|linebreaks}}
	        </div>
	        <div class="panel-footer">
	        	{{status_terakhir.post_date}}
	        </div>
	    </div>
	{% else %}
		<p>No Status Yet</p>
	{% endif %}


</div>
{% endblock %}