{% extends "base.html" %}
{% block content %}
<div class="animasi">
<section name="form" id="friendform">
    {% if salah %}
    <div class="container">
        <div class="alert alert-danger text-center" id="kuper">
            <strong>Maaf!</strong> URL yang anda masukan tidak ada.
        </div>
    </div>
    {% endif %}
    <div class="container">
        <h1 class="judul">Add Friend</h1>
        <form id="form" method="POST" action="{% url 'friend:add_friend' %}">
            {% csrf_token %}
            {{ add_friend_form }}
            <br>
            <button id="submit" type="submit" class="btn btn-default">Add Friend</button>
        </form>
    </div>
</section>

<section name="my-list" id="my-list">
    <div class="container">
        <h2 class="my-list-title">My Friends</h2>
        <div class="flex">
            {% if friend %}
                {% for data in friend %}
                    <div class="flex-item">
                        <div class="to-do-list">
                            <div class="gambar">
                                <img class='circletag' src="https://cdn0.iconfinder.com/data/icons/smile-emoticons/78/Emoticons_smile_smiley-16-512.png">
                            </div>
                            <div class="to-do-list-title">
                                {{data.name}}
                            </div>
                            <div class="to-do-list-date-added">
                                {{data.created_date}}
                            </div>
                            <div class="to-do-list-description">
                                <a href={{data.url}}>{{data.url}}</a>
                            </div>
                            <div class="to-do-list-delete">
                                <a style="color:white" href="{% url 'friend:delete_friend' data.id %}">
                                    <div class="to-do-list-delete-button" data-id="{{data.id}}">UnFriend</div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center" id="kuper">
                <strong>Yahh!</strong> Anda tidak punya teman.
            </div>
            {% endif %}
        </div>
    </div>
</section>
</div>
{% endblock %}