body {
    background-size: 80%;
    background: url('https://wallpaperlayer.com/img/2015/9/simple-white-wallpaper-73-116-hd-wallpapers.jpg') no-repeat center center;
    background-size: cover;

}
ul.exprestise {
  margin: auto;
  padding: 0;
  text-align: center;
}

.expertise li {
  border-radius: 5px;
  display: inline-block;
  background: black;
  color: white;
  padding: 5px 5px;
  margin: 2px;
}

.expertise li:nth-child(odd) {
  background: white;
  color: black;
}


h1 {font-family: verdanal;
    font-size:180% ;
    text-align: left;
}

.container {
  display: table;
  height: 100%;
  width: 100%;
}

div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 70%;

}

h2{
  font-family: verdanal;
  font-size:80% ;
  text-align: left;


}
h3{
  text-align: left;

}
