    /* Custom navbar style */
  /* .navbar-static-top {
    margin-bottom: 19px;
  } */
  .navbar-default .navbar-nav>li>a {
      cursor: pointer;
  }
  
  /* Textarea not resizeable */
  
  /* animasi colorchange */

  /* styling wrapper form */
  /* styling footer */
  footer p{
    text-align: center;
    padding-top: 10px;
  }

  #kuper{
    display: block;
    margin: auto;
    
  }

  #friendform{
    padding-bottom: 20px;
    padding-top: 10px; 
    margin-top: -20px;
    color: white;
  }

  .circletag{
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    background: #E6E7ED;
    -moz-border-radius: 10px;
    -webkit-border-radius: 150px;
  }

  .animasi{
    background: linear-gradient(161deg, #424544, #989b9b, #eff3f3);
    background-size: 600% 600%;
    
    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;
  }
  #my-list{
    min-height: 340px;
  }
    
  @-webkit-keyframes AnimationName {
    0%{background-position:58% 0%}
    50%{background-position:43% 100%}
    100%{background-position:58% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:58% 0%}
    50%{background-position:43% 100%}
    100%{background-position:58% 0%}
  }
  @keyframes AnimationName { 
    0%{background-position:58% 0%}
    50%{background-position:43% 100%}
    100%{background-position:58% 0%}
  }
  
  h1.judul{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
  }

  #my-list .my-list-title{
    font-size: 50px;
    margin-bottom: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    /* text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    text-align: center;
  }
  
  .to-do-list{
    text-align: center;
    background: #fff;
    position: relative;
    z-index: 15;
    margin-bottom: 60px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    resize: 0;
  }
  .to-do-list:after{
      content:"";
      display:block;
      height:25px; /* Which is the padding of div.container */
      background: #fff;
  }
  .flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: -15px;
    margin-left: -15px;
  }
  .flex-item{
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
  }
  
  .to-do-list .gambar {
    padding: 10px 10px 0;
  }

  .to-do-list .to-do-list-title {
    font-size: 20px;
    font-weight: 700;
    padding: 10px 10px 0;
  }
  .to-do-list .to-do-list-date-added {
    font-size: 12px;
    padding: 0 10px;
  }
  .to-do-list .to-do-list-description {
    /* padding: 10px 25px; */
    z-index: 15;
    background: #fff;
    /* height: 125px; */
    text-align: center;
    overflow: auto;
  }
  .to-do-list .to-do-list-delete {
    background: #e45;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    height: 40px;
    bottom: 1px;
    position: absolute;
    cursor: pointer;
    z-index: -1;
    -webkit-border-radius: 0 0px 2px 2px;
    -moz-border-radius: 0 0px 2px 2px;
    -o-border-radius: 0 0px 2px 2px;
    border-radius: 0 0px 2px 2px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .to-do-list:hover .to-do-list-delete {
    bottom: -40px;
  }

  .to-do-list:hover{
    box-shadow: 0 15px 25px 10px #535252 ;
    transform: translate(0,-5px);
  }
  
  /* styling responsive max-width menandakan bahwa rule css ini hanya akan bekerja untuk layar dengan maksimal 768px, jika lebih dari 768px maka rule ini diabaikan */
  @media only screen and (max-width: 768px) {
    #form{
        width: 290px;
        margin: 50px auto;
        text-align: center;
        position: relative;
    }

    h1.judul{
      text-align: center;
      font-size: 50px;
    }

    .to-do-list:hover .to-do-list-delete {
      bottom: -40px;
    }

    .flex-item{
      flex-basis: 100%;
    }

    .to-do-list:hover{
      box-shadow: 0 15px 25px 10px #535252 ;
      transform: translate(0,-5px);
    }
  }