<div class="page-header">
    <h2>Update Status</h2>
</div>
<div class="container-fluid">
    <!-- autosize the form (http://github.com/jackmoore/autosize) -->
    <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
    <form action="{% url 'status:index' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}

        <div class="container-fluid">
            <div class="form-group {% if field.errors %}has-error has-feedback{% endif %}">
                <div class="row">{{field.label_tag}}</div>
                <div class="row">
                        {{field}}
                        {% if field.errors %}<span class="glyphicon glyphicon-remove form-control-feedback"></span>{% endif %}
                    
                </div>
                <div class="row">{{field.errors}}</div>
            </div>
        </div>

        {% endfor %}
        <input type="submit" class="btn btn-default pull-right" value="Post" />
    </form>
    <script>
        autosize(document.querySelector('textarea'));          
    </script>
</div>