<div class="page-header">
    <h2>Feed</h2>
</div>
<div class="container-fluid">
    {% if feed %}
    <div class="list-group">
        {% for status in feed %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img class="img-rounded" width=32px height=32px src="{{status.user.picture_url}}" />
                    <b>{{status.user.name}}</b>
                </div>
                <div class="panel-body">{{status.message|linebreaks}}</div>
                <div class="panel-footer">{{status.post_date}}</div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No status yet</p>
    {% endif %}
</div>
