{% extends "base.html" %}
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/update_status.css' %}">
<div class='container'>
    {% block update_form %}
    {% include "status_update.html" %}
    {% endblock %}
</div>

<div class='container'>
    {% block status_feed %}
    {% include "status_feed.html" %}
    {% endblock %}
</div>
{% endblock %}