{% extends "base.html" %}
{% block content %}
{% load static %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet" />
<div class='container-fluid'>


<center>
<h1 class="h2">Profile</h1>
<h2 class="h2"></h2>
</center>


<img class="img-circle" style="width:150px; height:150px" src="{{ picture }}" />
    <h1> <center>{{ name }} </center></h1>
    <hr/>


<middle>
  <div>
    <ul class="expertise">
      {% for ii in expertise %}
      <li> {{ ii }} </li>
      {% endfor %}
    </ul>
  </div>

    <section class="container">
      <article>

  <div class = "row">
    <div class="col-sm-6" style="padding-left: 350px;">
        <h3>Birthday    </h3>
        <h3>Gender      </h3>
        <h3>Email       </h3>
        <h3>Description </h3>
    </div>

    <div class="col-sm-1">
        <h3>:</h3>
        <h3>:</h3>
        <h3>:</h3>
        <h3>:</h3>
    </div>

    <div class="col-sm-5">
        <h3>{{ birth }}</h3>
        <h3>{{ gender }}</h3>
        <h3>{{ email }}</h3>
        <h3>{{ description }}</h3>
    </div>
  </div>
  </article>
</section>

</middle>
</div>

{% endblock %}
