{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
          <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
          <link rel="stylesheet" type="text/css" href="{% static 'css/add_friend.css' %}" />
          <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    	    <title> {% block title %} Tugas 1 by Azhar, Raka, Wildan ,dan Yudhis{% endblock %} </title>
    </head>
    <body>
    <header>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">Ling In</a>
		    </div>

		    <ul class="nav navbar-nav">
		      <li class="nav-item {% if page_home %} active {% endif %}">
            <a href="/">Home</a>
          </li>

		      <li class="nav-item {% if page_update_status %} active {% endif %}">
            <a class="nav-link" href="/status/">Status</a>
          </li>

          <li class="nav-item {% if page_profile %} active {% endif %}">
            <a class="nav-link" href="/profile/">Profile</a>
          </li>

          <li class="nav-item {% if page_friends %} active {% endif %}">
            <a class="nav-link" href="/friend/">Friends</a>
          </li>

          <li class="nav-item {% if page_stats %} active {% endif %}">
            <a class="nav-link" href="/stats">Stats</a>
          </li>

		    </ul>
		  </div>
		</nav>    	
    </header>

        <content>
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </content>

    <footer>
      <nav class="navbar navbar-default navbar-static-bottom" style="margin-bottom:-15px">
        <div class="container">
          <div class="navbar-header">
      	   <p class="navbar-brand">&copy; Made by Azhar, Raka, Wildan ,dan Yudhis</p>
          </div>
        </div>
      </nav>
    </footer>
  </body>
</html>